.page {
  min-width: 110px;
  max-width: 1600px;
  content: center;
  font-family: "inter", Arial, sans-serif;
  font-family: "noto serif", Times New Roman, sans-serif;
  font-size: 16px;
  line-height: 20px;
  
}
