.header {
  min-height: 720px;
  max-height: 800px;
  background: #fff url(../images/background_header.svg) no-repeat center/cover;
  position: relative;
  padding: 30px 80px 40px;
  box-sizing: border-box;
}
